@model Orange1.Models.HomeViewModel


@{
	Layout = "_Layout";
}

<body>
	<!-- Products Start -->
	<div class="container-fluid pt-5 pb-3">
		<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
		<div class="row px-xl-5">
			@foreach (var item in Model.Products)
			{
				<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
					<div class="product-item bg-light mb-4">
						<div class="product-img position-relative overflow-hidden">
							<a asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductId">
								<img class="img-fluid w-100" src="@item.ImagePath" alt="@item.ProductName">
							</a>
							<div class="product-action">
								<a asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductId" class="btn btn-outline-dark btn-square"><i class="fa fa-shopping-cart"></i></a>
								<a asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductId" class="btn btn-outline-dark btn-square"><i class="far fa-heart"></i></a>
								<a asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductId" class="btn btn-outline-dark btn-square"><i class="fa fa-sync-alt"></i></a>
								<a asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductId" class="btn btn-outline-dark btn-square"><i class="fa fa-search"></i></a>
							</div>
						</div>
						<div class="text-center py-4">
							<a class="h6 text-decoration-none text-truncate" asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductId">@item.ProductName</a>
							<div class="d-flex align-items-center justify-content-center mt-2">
								<h5>$@item.Price</h5>
								<h6 class="text-muted ml-2"><del>$123.00</del></h6> <!-- Placeholder for original price -->
							</div>
							<div class="d-flex align-items-center justify-content-center mb-1">
								<small class="fa fa-star text-primary mr-1"></small>
								<small class="fa fa-star text-primary mr-1"></small>
								<small class="fa fa-star text-primary mr-1"></small>
								<small class="fa fa-star text-primary mr-1"></small>
								<small class="fa fa-star text-primary mr-1"></small>
								<small>(99)</small> <!-- Placeholder for rating count -->
							</div>
						</div>
					</div>
				</div>
			}
		</div>

	</div>
	<!-- Products End -->
	<!-- Products End -->
	<!-- Back to Top -->
	<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="lib/easing/easing.min.js"></script>
	<script src="~/assets/lib/easing/easing.min.js"></script>
	<script src="~/assets/lib/owlcarousel/owl.carousel.min.js"></script>
	<!-- Contact Javascript File -->

	<script src="~/assets/mail/jqbootstrapvalidation.min.js"></script>
	<script src="~/assets/mail/contact.js"></script>
	<script src="~/assets/js/main.js"></script>
</body>

